body {
    margin: 0;
    padding: 0;
    padding-top: 15%;
    text-align: center;
    align-items: center;
    background: rgba(107, 179, 250, 0.467);
}

h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 16px;
    color: #333;
}

.info-container {
    display: grid;
    grid-row: auto;

}

.container-info {
    align-items: center;
    display: flex;
    align-items: center;
    margin: auto;
    /* Para centrar horizontalmente */
    max-width: 600px;
    /* Ancho máximo del contenedor */
    background-color: lightgreen;
}

.container-info p {
    margin-right: 10px;
    /* Ajusta el valor según la separación deseada */
}